<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Tech Books</title>

  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>

  <script defer src="/public/javascripts/fileUpload.js"></script>
</head>
<body>
   <%- include('../partials/header.ejs') %>
   <%- include('../partials/errorMessage.ejs') %>

<%- body %>

<!-- add 'footer' snippet in css -->
<div class="footer-v1 bg-img">
    <div class="footer no-margin">
        <div class="container">
          <div class="headline"><p>Support</p></div>
          <address>
            <ul class="list-unstyled link-list">
              <li><a href="#">Contact Us</a></li>
              <li>
                <a href="#"><i class="fa fa-envelope"></i>support@company.com</a>
              </li>
            </ul>
          </address>
        </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>